@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

$color: #0080ff;

body {
  background: $color;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 15em;
  margin: 0;

  h1 {
    margin: 0 auto;
    z-index: 0;
    text-align: center;
    font-size: 20em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: $color;
    opacity: .7;
  }
}
